.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tableContainer {
  padding: 0 4px 12px;
}
